.newsletter-container {
  text-align: center;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5); 
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(to right, #ff00ff, #00ffff) 1;
  max-width: 900px;
  /* min-width: 300px; */
  height: 300px;
  margin-top: 200px;
  margin-inline: auto;
  font-family: 'Josefin Sans';
}

.content-newsletter{
 align-content: center;
 height: 100%;
}

.newsletter-container h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: -70px;
  margin-bottom: 30px;
}

.newsletter-container p {
  font-weight: medium;
  font-size: 18px;
}

.subscribe-bar {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-top: 90px;
  justify-content: center;
  position: relative;
  margin-inline: auto;
  max-width: 600px;
}

.subscribe-bar input {
  padding: 15px;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
  max-width: 400px;
  min-width: 0;
  font-size: 20px;
  background: transparent;
  color: white;
  height: 17px;
  border: 2px solid;
  border-image: linear-gradient(to right, #00ffff, #ff00ff) 1;
}

.subscribe-bar button {
  padding: 15px 30px;
  border-radius: 0 50px 50px 0;
  border: none;
  background: linear-gradient(to right, #ff00ff, #00ffff);
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.subscribe-bar button:hover {
  opacity: 0.8;
}

